#*.txt
*.jrl
*.swp
*.un~
#*.pdf
*.rpt
*.cnv
*.dat
*,1
*.tmp

*~
*1
*log,*
*.log

*.OLBlck
*.DSNlck
*.DBK

*PSpice*
*.tag
#*.opj
*.png
*.OBK
*sav
*.xml
*.dml
*.do
*.lck
*.DRC
*.lst
*.did
*.rtcomp
*.sts
*.dmp
*.color

# expoted file
*.art
*.drl
*.BOM
*.json

Autosave.brd



footprints/*lck
footprints/*html
footprints/signoise.run/*
libraires/*.opj
libraries/*.OBK
signoise.run/*
allegro*/*
devices/*
toolbox.run
symbols/*
allegro/pstdedb.cdsz
CAPTURE_DESIGN_DCF/*
*artwork*/*.ART
*artwork*/*.DRL
*artwork*/*.slot


simulation*/*(Security copy)*
